<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Test geogebra</title>
</head>
<body>
<!--<div id="ggb-element" style="pointer-events: none"></div>-->
<div id="ggb-element"></div>
<!--<input value="Press this button to show construction" onclick="ggbOnInit()" type="button">-->
<!--<h4>{{ text }}</h4>-->
<form method="post" action="{{ url_for('index', commands_text=commands_text) if type == 'commands' else url_for('text_input', text=text, commands_text=commands_text)}}">
    <br>
    <div class="form-group col">
        <button type="submit" class="btn btn-primary">Press this button to go back</button>
    </div>
</form>
<script src="https://geogebra.org/apps/deployggb.js"></script>

<script type="text/javascript">
    function ggbOnInit() {

//////
    }
    let width = 1400
    let height = 700
    var flag = 0;

    var params = {
        "appName": "geometry",
        "width": document.documentElement.clientWidth,
        "height": document.documentElement.clientHeight - 100,
        "showToolBar": false,
        "showAlgebraInput": false,
        "showMenuBar": false,
        "enableUndoRedo": true
    };

    var applet = new GGBApplet('5.0', params);
    window.addEventListener("load", function () {
            applet.inject('ggb-element');

        }
    );
    let observer = new MutationObserver((mutations) => {
        mutations.forEach((mutation) => {
            if (!mutation.addedNodes) return

            // console.log(mutation.addedNodes);

            if (mutation.addedNodes.length === 0 && flag === 1){

                    ggbOnInit();

                    flag = 2;
                }

            for (let i = 0; i < mutation.addedNodes.length; i++) {
                // do things to your newly added nodes here
                let node = mutation.addedNodes[i];
                // console.log(node)

                if (node.textContent === '  GeoGebra Geometry ' || node.textContent === 'GeoGebra Geometry' && flag === 0){

                    flag = 1;
                    // console.log(flag);

                }

            }
        })
    })

    observer.observe(document.body, {
        childList: true,
        subtree: true,
        attributes: false,
        characterData: false
    })

    // stop watching using:
    // observer.disconnect()
</script>


</body>
</html>