<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name='viewport'
              content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'
              charset="utf-8">
<!--        <meta name='viewport' -->
<!--              content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>-->
<!--        <link rel="stylesheet" href="../static/style.css">-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />


        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


        <title>Geogebra text input</title>
    </head>
    <body>
        <div class="container">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}

        </div>

        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a class="navbar-brand">Geogebra</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="https://wiki.geogebra.org/en/Point_Command" target="_blank">Список команд</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="/instruction" target="_blank">Инструкция для ввода</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="/commands_input">Ввод команд geogebra</a>
                </li>

                </ul>
            </div>
        </nav>

        <form method="post" action="/parse_text" id="text-input-block">
            <div class="form-group" >
                <div class="container-fluid">
                    <div class="row">

                        <h3 class="col-8">
                            <label>Условие задачи</label>
                        </h3>
                        <div class="form-group col">
                            <button type="submit" class="btn btn-primary col-sm-17">Анализ</button>
                        </div>
                    </div>
                </div>
                <textarea name="text" id="task_area"
                          placeholder="Дорогой пользователь, вводи условие правильно, для этого прочитай инструкцию!"
                          class="form-control"
                          rows="5">{{ text if text != None else '' }}</textarea>
            </div>
        </form>


        <div class="col 2 col-15" id="short_cuts"></div>

        <br><br>

        <form method="post" action="/analysis_commands" id="parse-result-block">
            <div class="form-group">
                <div class="container-fluid">
                    <div class="row">

                        <h3 class="col-8">
                            <label>Результат анализа</label>
                        </h3>

                        <div class="form-group">
                            <button id="solve-button" type="submit" class="btn btn-primary col-sm-17">Решить</button>
                        </div>

                    </div>
                </div>
                <input type="hidden" name="text" value="{{ text }}">
                <input type="hidden" name="type" value="text">
                <input type="hidden" name="screen-width" id="screen-width-container">
                <input type="hidden" name="screen-height" id="screen-height-container">


                <table>
                    <tr>
                    <td valign="top" style="font-size: 17px; font-style: italic">
                        <span>
                            1
                            2
                            3
                            4
                            5
                            6
                            7
                            8
                            9
                            10
                            11
                            12
                        </span>
                    </td>
                    <td width="100%">
<!--                        <div></div>-->
                        <textarea name="text_commands"
                                  placeholder="Дорогой тестировщик, вводи команды правильно"
                                  class="form-control"
                                  rows="12"
                                  cols="12">{{ commands_text if commands_text != None else '' }}</textarea>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
        <div id="loading">
            <h2 class="col-2">Решаем...</h2>
            <h6 class="col-4"><i>{{ quote }}</i></h6>
<!--            <img alt="loading" src="{{url_for('static', filename='gifs/loading.gif')}}" class="center" width="100%" height="500px">-->
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script type="text/javascript">
            // window.onscroll = function () { window.scrollTo(0, 0)};


            let short_cuts_symbols = 'ABCDEFHIM∠=△,'.split('');

            for (s in short_cuts_symbols) {


                
                sym = short_cuts_symbols[s];
                document.getElementById('short_cuts').innerHTML += `<button style="touch-action: manipulation" class="btn btn-light btn-md active" type="button" onclick="Add_text_to_task('${sym}')">${sym}</button>`
            }



            document.getElementById("loading").hidden = true;

            document.getElementById("solve-button").onclick = function () {
                document.getElementById("text-input-block").hidden = true;
                document.getElementById("parse-result-block").hidden = true;
                document.getElementById("short_cuts").hidden = true;
                document.getElementById("loading").hidden = false;

            }

            function Get_screen_size() {
                document.getElementById("screen-width-container").value = document.documentElement.clientWidth;
                document.getElementById("screen-height-container").value = document.documentElement.clientHeight;
            }

            window.addEventListener('orientationchange', Get_screen_size);
            window.addEventListener('resize', Get_screen_size);

            Get_screen_size();

            function Add_text_to_task(text, sep=false) {
                let area = document.getElementById('task_area');

                if (sep) {
                    text = ' ' + text + ' ';
                }

                if (text === '=') {
                    text = ' = ';
                }

                if (text === ',') {
                    text = ', ';
                }

                if (text === '△' && area.value.slice(-1) !== ' ' && area.value.length > 0) {
                    text = ' △';
                }

                area.value += text;

                let end = area.value.length;

                area.setSelectionRange(end, end);

                // area.setFocusAt(area.value.length);
            }
        $('body').bind('touchmove', function(event) { event.preventDefault() }); // turns off

        </script>
<!--    <img src="loading.gif" alt="this slowpoke moves"/>-->
<!--        <h1 align="center">Как поймать льва?</h1>-->

    </body>
</html>