<html>
<font size="4" color="black" face="geneva">
 <body>

<h4>Правила ввода:</h4>

<p> Условие задачи записывается по типу «дано»: факты пишутся в одной строке и отделяются друг от друга <u>запятой</u>, в каждом блоке не более одного. </p>

<p> Каждый объект должен быть назван, причем <u>заглавными латинскими буквами</u>. Числовые значения заданы арабскими цифрами, <u>отделены</u> от других символов пробелами. Нецелые числа записываются с точкой, обыкновенные дроби и отрицательные значения не обрабатываются. </p>

<p> Прямые обозначаются двумя точками. Углы задаются тремя точками или двумя прямыми. Равенство объектов в условии и вопросе отмечается знаком "=", отделённым от названий элементов пробелами.</p>

<p> Введеный текст не должен содержать заглавных латинских букв, за исключением названий объектов. Точка для сокращения слов и в конце текста не ставится. </p>

<p> Вопрос задачи вводится второй строкой.</p>

<h4> Пример: </h4>
<p> Треугольник ABC, AB = 10, угол BAC равен 40, AC относится к AB как 3/5, I - точка пересечения биссектрис ABC <br> Найти угол ABC </p>

<h4> Информация о временной версии для тестировщиков: </h4>

<p> Для ввода равенства многоугольников необходимо писать тип фигуры, для записи подобия и отношений других элементов это не требуется. <br> Появилась возможность вводить алгебраическую сумму углов и отрезков, пока её нужно писать словами, используя "больше"/"меньше" или "сумма". </p>

<p> Сейчас поддерживается: ввод названий и величин, равенство, отношение и подобие, сумма и разность углов и отрезков, замечательные точки, пересечение прямых, указание невыпуклости многоугольника, точки внутри многоугольника, а также вопросы на эти темы.</p>

</body>
</font>
</html>